<template>
  <q-icon :name="getIconPath" @click="linkEvent"></q-icon>
</template>

<script>
import { ref, computed } from "vue";
import { useRouter, useRoute } from "vue-router";
export default {
  name: "AtomLink",
  props: {
    link: {
      type: String,
      default: "",
    },
    title: {
      type: String,
      default: "",
    },
    icon: {
      type: String,
      default: "",
    },
  },
  setup(props) {
    const router = useRouter();
    const route = useRoute();

    const getIconPath = computed(() => `svguse:icons.svg#${props.icon}`);

    function linkEvent() {
      if (props.link)
        router.push({
          name: props.link,
        });
      else
        router.push({
          path: "/",
        });
    }

    return {
      getIconPath,
      linkEvent,
    };
  },
};
</script>

<style>
</style>
