<template>
  <div class="q-pa-lg flex flex-center">
    <q-pagination v-model="current" color="yellow" :max="getPages" />
  </div>
</template>

<script>
import { ref, computed, watch } from "vue";
export default {
  name: "MoleculePagination",
  props: {
    total: {
      type: Number,
      default: 1,
    },
  },
  setup(props, { emit }) {
    const current = ref(1);
    watch(current, (newVal) => emit("pageHandler", newVal));
    const getPages = computed(
      () => parseInt(props.total / 10) + (props.total % 10 > 0 ? 1 : 0)
    );
    return {
      getPages,
      current,
    };
  },
};
</script>

<style>
</style>
