<template>
  <article class="desire-card">
    <img
      :src="'data:image/png;base64,' + card.photo"
      alt=""
      class="desire-card--img"
    />
    <div>
      <h2 class="desire-card--title">{{ card.title }}</h2>
      <div class="desire-card__info">
        <div class="flex items-center">
          <q-icon name="star" class="desire-card__info--star text-yellow" />
          <span class="desire-card__info--point">4.9</span>
        </div>
        <p class="desire-card__info--likes">125 лайков</p>
      </div>
    </div>
  </article>
</template>

<script>
export default {
  name: "MoleculeDesireRoad",
  props: {
    card: {
      type: Object,
      default() {
        return {};
      },
    },
  },
};
</script>

<style lang="scss">
.desire-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &--img {
    width: 100%;
    border-radius: 20px;
  }
  &--title {
    font-weight: 400;
    font-size: 1rem;
    line-height: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    margin: 10px 0;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  &__info {
    display: flex;
    align-items: flex-start;
    gap: 15px;
  }
}
</style>
