<template>
  <section>
    <organism-header />
    <molecule-desire-road />
    <organism-desire-card-list class="padding-20" :desire-list="desireList" />
    <molecule-pagination :total="total" @pageHandler="pageHandler" />
  </section>
</template>

<script>
import OrganismHeader from "components/organisms/OrganismHeader/index.vue";
import OrganismDesireCardList from "components/organisms/OrganismDesireCardList/index.vue";
import MoleculeDesireRoad from "components/molecules/MoleculeDesireRoad/index.vue";
import MoleculePagination from "components/molecules/MoleculePagination/index.vue";
export default {
  name: "templateDesire",
  components: {
    OrganismHeader,
    MoleculeDesireRoad,
    OrganismDesireCardList,
    MoleculePagination,
  },
  props: {
    desireList: {
      type: Array,
      default() {
        return [];
      },
    },
    total: {
      type: Number,
      default: 1,
    },
  },
  setup(props, { emit }) {
    return {
      pageHandler(page) {
        emit("pageEvent", page);
      },
    };
  },
};
</script>
