<template>
  <div class="desire-road">
    <div
      v-for="(item, index) in roadList"
      :key="index"
      index
      class="desire-road__item"
      :style="{ backgroundColor: item.background }"
    >
      <h2 class="desire-road__item--title">{{ item.title }}</h2>
      <p class="desire-road__item--subtitle">{{ item.subtitle }}</p>
      <img
        :src="imgPath(item.img)"
        :alt="item.title"
        class="desire-road__item--img"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: "MoleculeDesireRoad",
  setup() {
    function imgPath(img) {
      return new URL(`/src/assets/images/${img}`, import.meta.url).href;
    }

    return {
      imgPath,
      roadList: [
        {
          img: "GP.png",
          background: "#408A94",
          title: "Игры",
          subtitle: "Spider-man",
        },
        {
          img: "GP.png",
          background: "#408A94",
          title: "Игры",
          subtitle: "Spider-man 2",
        },
        {
          img: "GP.png",
          background: "#408A94",
          title: "Игры",
          subtitle: "Spider-man 2",
        },
        {
          img: "GP.png",
          background: "#408A94",
          title: "Игры",
          subtitle: "Spider-man 2",
        },
      ],
    };
  },
};
</script>

<style lang="scss">
.desire-road {
  display: flex;
  margin: 15px 0;
  overflow: auto;
  &__item {
    margin-left: 20px;
    border-radius: 12px;
    padding: 15px;
    min-width: calc(50% - 30px);
    min-height: 80px;
    position: relative;
    overflow: hidden;
    &--title {
      margin: 0;
      font-size: 1rem;
      line-height: 12px;
      letter-spacing: 0.02em;
      color: #ffffff;
    }
    &--subtitle {
      margin: 0;
      font-size: 1rem;
      letter-spacing: 0.02em;
      font-weight: bold;
      color: #ffffff;
    }
    &--img {
      position: absolute;
      right: -15px;
      bottom: -20px;
      max-width: 50%;
    }
  }
}
</style>
