<template>
  <q-page>
    <temp-desire
      :desire-list="items"
      :total="total"
      @pageEvent="getItems($event)"
    />
  </q-page>
</template>

<script>
import { ref, onMounted } from "vue";
import { api } from "src/boot/axios";

import tempDesire from "components/templates/TemplateDesire/index.vue";

export default {
  name: "DesiresView",
  components: {
    tempDesire,
  },
  setup() {
    const items = ref([]);
    const total = ref(0);
    function getItems(offset = 1) {
      api
        .get("/users/514d365b-e9b9-47f7-8960-a707f86f1bc7/wishes", {
          params: {
            limit: 10,
            offset,
          },
        })
        .then((response) => {
          window.scrollTo(0, 0);
          items.value = response.data.wishes;
          total.value = response.data.total;
        });
    }
    onMounted(() => {
      getItems();
    });
    return {
      items,
      total,
      getItems,
    };
  },
};
</script>

<style>
</style>
