<template>
  <div v-if="!desireList.length" class="flex justify-center">
    <q-circular-progress
      indeterminate
      rounded
      size="50px"
      color="yellow"
      class="q-ma-md"
    />
  </div>
  <section v-else class="decire-list">
    <molecule-desire-card
      v-for="item in desireList"
      :key="item.wishId"
      :card="item"
    />
  </section>
</template>

<script>
import MoleculeDesireCard from "components/molecules/MoleculeDesireCard/index.vue";
export default {
  name: "OrganismDesireCardList",
  components: {
    MoleculeDesireCard,
  },
  props: {
    desireList: {
      type: Array,
      default() {
        return [];
      },
    },
  },
};
</script>

<style lang="scss">
.decire-list {
  background: #fafafa;
  padding-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
</style>
