<template>
  <nav class="nav-menu bg-yellow">
    <atom-link
      class="nav-menu--item"
      v-for="(item, index) in menuList"
      :key="index"
      :link="item.link"
      :icon="item.icon"
    />
  </nav>
</template>

<script>
import AtomLink from "components/atoms/AtomMenuLink/index.vue";
export default {
  name: "MoleculeMenu",
  components: { AtomLink },
  props: {
    menuList: {
      type: Array,
      default() {
        return [];
      },
    },
  },
};
</script>

<style lang="scss">
.nav-menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 5px 30px rgba(123, 122, 122, 0.5);
  height: 70px;
  margin-bottom: 40px;
  &--item {
    width: 28px;
    height: 28px;
  }
}
</style>
