<template>
  <q-btn
    :class="[textColor ? `text-${textColor}` : '', color ? `bg-${color}` : '']"
    class="no-outline no-shadow no-ripple"
    :ripple="false"
    :icon="icon"
    :rounded="rounded"
    :round="round"
    :padding="icon && !label ? 'xs' : ''"
    :label="label"
  >
  </q-btn>
</template>

<script>
export default {
  name: "AtomBtn",
  props: {
    icon: String,
    label: {
      type: String,
      default: "",
    },
    color: {
      type: String,
      default: "white",
    },
    textColor: {
      type: String,
      default: "black",
    },
    rounded: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="scss">
</style>
