<template>
  <header class="header flex padding-20">
    <btn icon="navigate_before" color="lightgray" textColor="gray" />
    <btn icon="search" color="lightgray" textColor="gray" />
    <h1 class="header-title">Мои пожелания</h1>
  </header>
</template>

<script>
import btn from "components/atoms/AtomButton/index.vue";
export default {
  name: "OrganismHeader",
  components: {
    btn,
  },
};
</script>

<style lang="scss">
.header {
  gap: 10px;
  margin-top: 20px;
  align-items: center;
  &-title {
    font-size: 1.4em;
    line-height: 1.7rem;
    margin: 0;
    letter-spacing: 0.02em;
  }
}
</style>
