<template>
  <q-layout view="lHh Lpr lFf">
    <q-page-container>
      <router-view />
    </q-page-container>

    <q-footer>
      <q-toolbar>
        <molecule-menu :menuList="linksList" />
      </q-toolbar>
    </q-footer>
  </q-layout>
</template>

<script>
import { ref } from "vue";
import MoleculeMenu from "components/molecules/MoleculeMenu/index.vue";
const linksList = [
  {
    icon: "icon-home",
    link: "",
  },
  {
    icon: "icon-friends",
    link: "",
  },
  {
    icon: "icon-chat",
    link: "",
  },
  {
    icon: "icon-like",
    link: "DesirePage",
  },
  {
    icon: "icon-user",
    link: "",
  },
];

export default {
  name: "MainLayout",
  components: {
    MoleculeMenu,
  },

  setup() {
    const leftDrawerOpen = ref(false);

    return {
      linksList,
    };
  },
};
</script>

<style lang="scss">
.q-footer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 70px;
  display: flex;
  align-items: center;
  background: none;
}
.q-layout__shadow {
  display: none;
}
</style>
